In [26]:
import pandas as pd

In [27]:
f = open("passwords.txt", "r")

In [28]:
data=f.read()

In [35]:
splitted_data=data.split("\n")

In [41]:
splitted_data[0]

'15-16 l: klfbblslvjclmlnqklvg'

In [39]:
'15-16 l: klfbblslvjclmlnqklvg'.split(": ")

['15-16 l', 'klfbblslvjclmlnqklvg']

In [57]:
data_df=pd.DataFrame(splitted_data).iloc[:-1,-1].str.split(expand=True)

In [65]:
data_df[2].values[0].count('l')

6

In [64]:
data_df[2].values[0]

'klfbblslvjclmlnqklvg'

In [86]:
mini_maxi=data_df[0].str.split('-',expand=True)

In [91]:
mini_maxi=mini_maxi.rename(columns={0: "mini", 1: "maxi"})

In [92]:
concat_data=pd.concat((data_df,mini_maxi),axis=1)

In [93]:
concat_data=concat_data.rename(columns={0: "range", 1: "letter",2:"string"})

In [94]:
concat_data

     range letter                string mini maxi
0    15-16     l:  klfbblslvjclmlnqklvg   15   16
1     6-13     h:        pghjchdxhnjhjd    6   13
2     4-13     n:      nnznntzznqnzbtzj    4   13
3    10-16     r:      nrrrrkrjtxwrrrwx   10   16
4      1-6     t:  rttftttttttttmdttttt    1    6
..     ...    ...                   ...  ...  ...
995   8-12     r:        rrkrrrprvrcqnr    8   12
996  14-15     j:  jkpjjnjjjwjjjjjjhjwj   14   15
997    7-9     s:             stsstspsn    7    9
998   8-11     h:        hhhhbhhhhjhhhh    8   11
999    5-6     d:               dddtpdd    5    6

[1000 rows x 5 columns]

In [98]:
concat_data['letter']=concat_data['letter'].apply(lambda x: x[0])

In [99]:
concat_data

     range letter                string mini maxi
0    15-16      l  klfbblslvjclmlnqklvg   15   16
1     6-13      h        pghjchdxhnjhjd    6   13
2     4-13      n      nnznntzznqnzbtzj    4   13
3    10-16      r      nrrrrkrjtxwrrrwx   10   16
4      1-6      t  rttftttttttttmdttttt    1    6
..     ...    ...                   ...  ...  ...
995   8-12      r        rrkrrrprvrcqnr    8   12
996  14-15      j  jkpjjnjjjwjjjjjjhjwj   14   15
997    7-9      s             stsstspsn    7    9
998   8-11      h        hhhhbhhhhjhhhh    8   11
999    5-6      d               dddtpdd    5    6

[1000 rows x 5 columns]

In [114]:
concat_data['string'].values[-1].count(concat_data['letter'].values[-1])

5

In [122]:
concat_data.columns

Index(['range', 'letter', 'string', 'mini', 'maxi'], dtype='object')

In [139]:
concat_data['count']=concat_data.apply(lambda x: x['string'].count(x['letter']),axis=1)

In [140]:
concat_data

     range letter                string mini maxi  count
0    15-16      l  klfbblslvjclmlnqklvg   15   16      6
1     6-13      h        pghjchdxhnjhjd    6   13      4
2     4-13      n      nnznntzznqnzbtzj    4   13      6
3    10-16      r      nrrrrkrjtxwrrrwx   10   16      8
4      1-6      t  rttftttttttttmdttttt    1    6     16
..     ...    ...                   ...  ...  ...    ...
995   8-12      r        rrkrrrprvrcqnr    8   12      8
996  14-15      j  jkpjjnjjjwjjjjjjhjwj   14   15     14
997    7-9      s             stsstspsn    7    9      5
998   8-11      h        hhhhbhhhhjhhhh    8   11     12
999    5-6      d               dddtpdd    5    6      5

[1000 rows x 6 columns]

In [142]:
concat_data['valid']=concat_data.apply(lambda x: (x['count']>=int(x['mini']))&(x['count']<=int(x['maxi'])),axis=1)

In [144]:
concat_data['valid'].sum()

424

In [145]:
another_data=concat_data.copy()

In [147]:
another_data=another_data.iloc[:,:-2]

In [150]:
another_data=another_data.rename(columns={"mini": "has", "maxi": "not"})

In [151]:
another_data

     range letter                string has not
0    15-16      l  klfbblslvjclmlnqklvg  15  16
1     6-13      h        pghjchdxhnjhjd   6  13
2     4-13      n      nnznntzznqnzbtzj   4  13
3    10-16      r      nrrrrkrjtxwrrrwx  10  16
4      1-6      t  rttftttttttttmdttttt   1   6
..     ...    ...                   ...  ..  ..
995   8-12      r        rrkrrrprvrcqnr   8  12
996  14-15      j  jkpjjnjjjwjjjjjjhjwj  14  15
997    7-9      s             stsstspsn   7   9
998   8-11      h        hhhhbhhhhjhhhh   8  11
999    5-6      d               dddtpdd   5   6

[1000 rows x 5 columns]

In [161]:
another_data['string'][0][int(another_data['has'][0])]

'q'

In [170]:
another_data['count_another']=another_data.apply(lambda x: (x['string'][int(x['has'])-1]==x['letter']),axis=1)

In [171]:
another_data['count_another'].sum()

485

In [172]:
another_data

     range letter                string has not  count_another
0    15-16      l  klfbblslvjclmlnqklvg  15  16          False
1     6-13      h        pghjchdxhnjhjd   6  13           True
2     4-13      n      nnznntzznqnzbtzj   4  13           True
3    10-16      r      nrrrrkrjtxwrrrwx  10  16          False
4      1-6      t  rttftttttttttmdttttt   1   6          False
..     ...    ...                   ...  ..  ..            ...
995   8-12      r        rrkrrrprvrcqnr   8  12           True
996  14-15      j  jkpjjnjjjwjjjjjjhjwj  14  15           True
997    7-9      s             stsstspsn   7   9          False
998   8-11      h        hhhhbhhhhjhhhh   8  11           True
999    5-6      d               dddtpdd   5   6          False

[1000 rows x 6 columns]

In [175]:
'pghjchdxhnjhjd'

'pghjchdxhnjhjd'

In [185]:
another_data['count_another_not']=another_data.apply(lambda x: (x['string'][int(x['not'])-1]!=x['letter']),axis=1)

In [186]:
another_data['count_another_not'].sum()

512

In [187]:
another_data.apply(lambda x: (x['count_another']==True & x['count_another_not']==True),axis=1).sum()

372